@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background-color: #333; /* dark gray */
  border-radius: 5px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #222; /* dark background */
}

/* Scrollbar Corner */
::-webkit-scrollbar-corner {
  background: #222; /* dark background */
}

/* Scrollbar Thumb when hovering */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* slightly lighter gray on hover */
}
